


html, body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    background: gray;
}

h1{
    font-size: 24px;
    color: white;
}

p{
    color: white;

}

a{
    color: black;
    text-decoration: none;
}

.anderson{
    width: 185px;
    height: 185px;
}

main{
    width: 375px;
    height: 812px;
}

.fundo{
    width: 375px;
    height: 812px;
    background-color: black;
}

ul{
    list-style: none;
}