@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
}


html, body{
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(42, 73, 63);
}

main{
    width: 375px;
    height: 812px;
    background: url(img/background.svg);
}

h1{
    font-size: 1.5rem;
    color: var(--grey);
    margin-top: 0.25rem;
}

p{
    margin-top: 2rem;
    color: var(--grey);
    font-weight: 400;
}

a{
    color:var(--grey);
    text-decoration: none;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    align-items: center;
}

.anderson{
    width: 185px;
    height: 185px;
}

ul{
    margin-top: 4rem;
    list-style: none;
}

.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:var(--grey);
}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}